COMPOSE_PROJECT_NAME=crmeb

TZ=Asia/Shanghai
SPRING_PROFILES_ACTIVE=dev

MYSQL_DATABASE=crmeb_java
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_USER=crmeb
MYSQL_PASSWORD=crmeb123
MYSQL_HOST_PORT=33306

REDIS_PASSWORD=
REDIS_HOST_PORT=36379

ADMIN_HOST_PORT=20500
FRONT_HOST_PORT=20510

JAVA_OPTS_ADMIN=-Xms256m -Xmx1024m
JAVA_OPTS_FRONT=-Xms256m -Xmx1024m

